




header {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 600px;
}



.mode--js{
    position: absolute;
      top: 12px;
      right: 16px;
      border: none;
}

      
.heading{
    margin-top: 50px;
}