$blue: #1070CA;
$consoleGray: #808082;
$lightConsoleGray: #A3A3A3;
$consoleLink: #14B5D0;
$darkGray: #1E1E1E;
$gray: #212528;
$lightGray: #464A4D;
$lightBlue: #4DA8FF;
$grayBlue: #DBEAF7;
$text: #425A70;
$textDark: #234361;
