@import "~normalize.css";

@import "_variables";
// @import "modules/hello.scss";

body {
  background: rgb(107, 177, 177);
  // color: #fff;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // min-height: 100vh;
  // text-align: center;
}

// .paragraph{
//   color: rgb(14, 27, 54);
//   font-size: 20px;
//   font-weight: 700;
  
//   margin: 32px auto;
//   &--special{
//     font-style: italic;
//     color: #fff;
//   }
// }

// .skills__section--emoji{
//   border:rgb(14, 27, 54);
// }


.skills-section{
  &__icon{
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }
}